@charset "UTF-8";
/* CSS Document */
p,div,ul,form,input,textarea{
	padding:0;
	margin:0;
}
input{
	display:inline-block;
}

body{
	background: #DCF0F1;
}

#container{
	width:40%;
	height:600px;
	margin:10px auto 0 auto;
	background:#fff;
	text-align: center;
	padding-top:10px;
}

.check_box{
	margin-bottom:10px;
}

.check{
	margin-right: 5px;
}
#all_check{
	margin-right:5px;
}

#all_remove{
	margin-bottom:10px;
}

